testing.out

# ### Release Version [0.2.0](https://github.com/malcos/makefile-semver/tree/0.2.0)
#
# [Makefile.semver](https://github.com/malcos/makefile-semver/blob/0.2.0/Makefile.semver):
#
# ```Makefile
# _:=$(or $(wildcard Makefile.semver), $(shell curl -sO https://raw.githubusercontent.com/malcos/makefile-semver/0.2.0/Makefile.semver))
# include Makefile.semver
# ```
